* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}
body {
    display: grid;
}

.game {
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 500px;
}
.game h2 {
    text-align: center;
    margin-bottom: 10px;
}
.board {
    height: 100%;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);;
} 
.blocks {
    background-color: rgb(162, 210, 210); 
    display: grid;
    align-items: center;
    font-size: 40px;
    justify-content: center;
}

/* pop up form */
.chose-character {
    position: absolute;
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.pop-up-form {
    width: 800px;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selection {
    display: flex;
    justify-content: center;
    align-items: center;
}
 .pop-up-header {
    font-size: 30px;
    margin-bottom: 10px;
}
.X , .O {
    height: 200px;
    width: 200px;
    background-color: rgb(110, 110, 183);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}